@keyframes rotateAndBounce {
  0%, 100% {
    transform: translateY(-25%) rotate(var(--rotation));
  }
  50% {
    transform: translateY(0) rotate(var(--rotation));
  }
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 100%;}
}

.satellite {
  animation: fadeIn var(--delay), rotateAndBounce var(--bounce) ease-in-out infinite; 
}
