@keyframes rotateAndBounce {
  0%, 100% {
    transform: translateY(-25%) rotate(var(--rotation));
  }
  50% {
    transform: translateY(0) rotate(var(--rotation));
  }
}

.satellite {
  animation: rotateAndBounce var(--bounce) ease-in-out infinite; 
}
